<!DOCTYPE html>
<html>
  <head>
    <title>AnimalOwnerDiseaseApps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Animals, Diseases, and Owners</h1>
    <%= link_to 'Animals', animals_path %>
    <%= link_to 'Diseases', diseases_path %>
    <%= link_to 'Date Of Infections', date_of_infections_path %>
    <%= link_to 'Owners', owners_path %>
    <%= yield %>
  </body>
</html>
